# MacOS things
.DS_Store

# Makefile configuration file
config.mk

# KiCad files
*.lck
fp-info-cache
*.bak
*.kicad_sch-bak
*.kicad_prl
*backups/
production/
*.zip
*.ipc
*gerber*
ibom*.html

# Dev
*.json
*.a
*.d
*.o
*.bin
*.hex
test_runner
build/

# Doxygen files
Doxygen/
